.selectedText {
    position: relative;
    background-color: #b3d4fc; /* Change this to the color you want */
}

.tooltip {
    position: absolute;
    width: 55px;
    height: 55px;
    display: block;
    z-index: 999;
}

.tooltip .active {
    visibility: visible;
}

.bookmarker {
    background-color: rgb(243, 144, 132);
}

.bookmarker:hover {
    background-color: rgb(210, 123, 113);
}