body {
    min-width: 290px;
}

.popup-title {
    text-align: center;
    font-size: medium;
}

.reading-time-feature {
    margin-top: 2px;
}

input[type=checkbox] {
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li:nth-child(odd) {
    background-color: #bbbbbb;
}

li:nth-child(even) {
    background-color: #ffffff;
}

.work-entry {
    display: flex;
    justify-content: space-between;
    padding: 1.75px;
}

.work-title {
    font-weight: bold;
    text-decoration: none;
    color: #222;
}

.work-title:hover {
    color: #555;
}

.work-author {
    font-style: italic;
    text-decoration: none;
    color: #444;
}

.work-author:hover {
    color: #666;
}

.delete-work {
    font-weight: bold;
    cursor: pointer;
    border: none;
    color: #7e0101;
}