body {
    min-width: 290px;
}

input[type=checkbox] {
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li:nth-child(odd) {
    background-color: #bbbbbb;
}

li:nth-child(even) {
    background-color: #ffffff;
}

.work-entry {
    display: flex;
    justify-content: space-between;
}

.work-title {
    font-weight: bold;
    text-decoration: none;
    color: #222;
}

.work-author {
    font-style: italic;
    text-decoration: none;
    color: #444;
}

.delete-work {
    font-weight: bold;
    cursor: pointer;
    border: none;
}